body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: bisque;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    color: gold;
    font-size: 60px;
}
section{
    padding: 20px;
    width: 400px;
    height: 600px;
    border:none;
    box-shadow: 4px rgba(0, 0, 0, 3);
    border-radius: 12px;
    align-items: center;
    text-align: center;
    background-color: olivedrab;
    backdrop-filter: blur(5px);
}
p{
    font-size: large;
    font-weight: 600;
    color: aliceblue;
}
button{
    margin-top: 100px;
    padding: 15px 30px;
    font-size: large;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: goldenrod;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
button:hover{
    background-color: gold;
    box-shadow: 0 0 5px gold,
                0 0 25px gold,
                0 0 65px gold,
                0 0 125px gold;
    
}